$maxWidth: 1200px;

@import "./breakpoints.scss";
@import "./colors.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./chart.scss";
@import "./leaderboard.scss";
@import "./mantine.scss";
@import "./utils.scss";
@import "./header.scss";
@import "./tab.scss";
@import "./legend.scss";
@import "./traders.scss";
@import "./grid.scss";
@import "./tabledDotPoints.scss";
@import "./dataTable.scss";
@import "./heroBanner.scss";
@import "./statusBar.scss";
@import "./pages.scss";
@import "./footer.scss";
@import "./avatar.scss";
@import "./volumeTableChart.scss";

body {
  background-color: $black;
}

main {
  padding-bottom: 100px;
}

.content {
  max-width: $maxWidth;
  margin: auto;
}

.wrapper {
  flex-direction: column;
  margin: auto;
  margin-top: $headerHeightMobile;
  width: 100%;
  display: flex;
  @include respond-to(tablet-up) {
    margin-top: $headerHeight;
  }
}
