@import "./breakpoints.scss";
@import "./colors.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./chart.scss";
@import "./leaderboard.scss";
@import "./mantine.scss";
@import "./utils.scss";
@import "./header.scss";

body {
  background-color: $black;
}

.content {
  max-width: 1400px;
  margin: auto;
}
