@import "./breakpoints.scss";
@import "./colors.scss";
@import "./typography.scss";
@import "./utils.scss";
@import "./buttons.scss";
@import "./chart.scss";

body {
  background-color: $dark-bg-1;
}

.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  max-width: 1400px;
  margin: auto;
}
