.button {
  background: none;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 60px;
  transition: all 0.3s ease;
}

.button.active {
  background: rgb(58, 58, 58);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(58, 58, 58, 0.4);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
