.button {
  background: none;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 60px;
}

.button:hover,
.button--active {
  background: rgb(58, 58, 58);
  color: rgba(255, 255, 255, 1);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 40px;
  top: 42px;
}
