.button {
  background: none;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 24px;
  transition: all 0.3s ease;
}

.button.active {
  background: $dark-divider;
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
