$gap: 20px;

.chart__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  box-sizing: border-box;
  background: $dark-bg-2;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  position: relative;
  width: 100%;
}

.chart__container-body {
  position: relative;
  height: 100%;
  width: 100%;
}

.chart__container--quarter {
  min-width: 25%;
  max-width: 25%;
}

.chart__grid {
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  gap: $gap;
  height: 100%;
  flex-wrap: wrap;
  grid-template-columns: 100%;
  @include respond-to(desktop-up) {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  &--compact-row {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: $gap;
  }

  &--compact-column {
    display: grid;
    grid-template-columns: 5 0% 50%;
  }

  &--leaderboard-row {
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(
        25% - 15px
      );
    width: 100%;
    margin-top: $gap;
    gap: $gap;
  }
  // ----------------------------------------
  // Column Variations
  &--one-col {
    grid-template-columns: 100%;
  }
  &--two-col {
    grid-template-columns: 100%;

    @include respond-to(widescreen-up) {
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
  }
  &--four-col {
    grid-template-columns: 100%;
    @include respond-to(desktop-up) {
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
    @include respond-to(widescreen-up) {
      grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(
          25% - 15px
        );
    }
  }
  // ----------------------------------------

  &--row {
    display: grid;
  }
}

.chart__container-footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: -6px;
}

.chart__wrapper {
  flex-direction: column;
  margin: auto;
  margin-top: 130px;
  width: 100%;
  display: flex;
}

.chart__grid--gap {
  gap: $gap;
  display: flex;
}

.chart__grid-cell {
  display: flex;
  position: relative;
  height: auto;
  flex: 1;
  width: 100%;
}
.chart__grid-column {
  // display: grid;
  // gap: $gap;
  // padding: $gap;
  // border-radius: 8px;
}

.chart__grid-cell--half {
  @include respond-to(desktop-up) {
    min-width: calc(50% - $gap);
    max-width: calc(50% - $gap);
  }
}
.chart__grid-cell--half:nth-of-type(2n) {
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}

.chart__grid-cell--full {
  width: 100%;
  gap: $gap;
  @include respond-to(desktop-up) {
    min-width: 100%;
    max-width: 100%;
    transition: all 0.75s ease;
  }
}

.chart__grid-cell--quarter {
  @include respond-to(desktop-up) {
    min-width: 25%;
    max-width: 25%;
  }
}
.chart__grid-cell--quarter:last-child {
  @include respond-to(desktop-up) {
    min-width: 25%;
    max-width: 25%;
  }
}
.chart__container--half {
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}

.chart__title {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.chart__inner {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.chart__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  text-align: center;
  left: 0;
  padding-top: 20px;
  right: 0;
}

.chart__bar-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: auto;
  width: 99.9%;
}
// --------------------------------------
// Legend
// --------------------------------------
.chart__legend {
  border-top: 1px solid $dark-bg-3;
  padding-top: 10px;
  margin-top: 10px;
}

.chart__legend-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  top: 5px;
  background-color: $dark-bg-1;
}

.chart__legend-item {
  position: relative;
  padding-left: 13px;
  margin-bottom: 10px;
  padding-right: 0px;
  margin-left: 11px;

  &--highlight:before {
    background-color: $highlight;
  }
  &--accent-green:before {
    background-color: $accent-green;
  }

  &--accent-yellow:before {
    background-color: $accent-yellow;
  }
  &--accent-orang:before {
    background-color: $accent-orange;
  }
  &--accent-red:before {
    background-color: $accent-red;
  }

  &--accent-yellow:before {
    background-color: $accent-yellow;
  }

  &--accent-orange:before {
    background-color: $accent-orange;
  }
  &--accent-grey:before {
    background-color: $accent-grey;
  }

  &--tertiary:before {
    background-color: $accent-red;
  }
  &--trend:before {
    background-color: $trend;
  }
}

.chart__legend-item {
  appearance: none;
}
.chart__legend-item:checked {
  opacity: 0.4;
}

.chart__legend-item + label {
  cursor: pointer;
}

.chart__legend-item:checked + label {
  opacity: 0.4;
}

.chart__legend-modifier--daily-true-volume {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  border-top: 0;
  padding-top: 0;
  margin-top: -13px;
}

// Info
.chart__info {
  align-items: flex_start;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chart__progress-ring {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 80px;
  min-width: 80px;
  max-width: 80px;
  border-radius: 100%;
  p {
    position: absolute;
    margin-left: -10px;
    &:after {
      content: "%";
      position: absolute;
      font-size: 14px;
      bottom: 5px;
      margin-left: 2px;
    }
  }
  &--percent {
    font-size: 13px;
    padding-bottom: 5px;
    position: relative;
  }
}

.chart__chart-actions-lockup {
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;
}
