.chart__wrapper {
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  display: flex;
}

.chart__grid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100% - 20px);
  position: relative;
  gap: 20px;
  height: 100%;
  @include respond-to(desktop-up) {
    flex-direction: row;
  }
}

.chart__grid-cell {
  position: relative;
  height: 342px;
  flex: 1;
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}
// .chart__grid-cell--main {
//   flex: 1;
//   @include respond-to(desktop-up) {
//     min-width: 50%;
//     max-width: 50%;
//   }
// }

.chart__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  background: $dark-bg-2;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  position: relative;
}

.chart__container--half {
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}

.chart__inner {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.chart__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  bottom: 20px;
  right: 0;
}

.chart__bar-wrapper {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
}
// --------------------------------------
// Legend
// --------------------------------------
.chart__legend {
  border-top: 1px solid $dark-bg-3;
  padding-top: 10px;
  margin-top: 10px;
}

.chart__legend-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  top: 5px;
  background-color: $dark-bg-1;
}

.chart__legend-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  &--primary:before {
    background-color: $accent-yellow;
    box-shadow: 0px 0px 15px -3px $accent-yellow-shadow;
  }

  &--secondary:before {
    background-color: $accent-orange;
  }

  &--tertiary:before {
    background-color: $accent-red;
  }
}

// Info
.chart__info {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chart__progress-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 74px;
  min-width: 74px;
  max-width: 74px;
  border-radius: 100%;
  border: 6px solid $accent-red;
}
