$gap: 20px;

.chart__wrapper {
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  display: flex;
}

.chart__grid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  flex-wrap: wrap;
  @include respond-to(desktop-up) {
    height: auto;
    gap: $gap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.chart__grid--gap {
  gap: $gap;
  display: flex;
}

.chart__grid-cell {
  display: flex;
  position: relative;
  height: 342px;
  flex: 1;
  width: 100%;
}
.chart__grid-cell--half {
  @include respond-to(desktop-up) {
    min-width: calc(50% - $gap);
    max-width: calc(50% - $gap);
    // min-width: 50%;
    // max-width: 50%;
  }
}
.chart__grid-cell--half:nth-of-type(2n) {
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}

.chart__grid-cell--full {
  width: 100%;
  gap: $gap;
  @include respond-to(desktop-up) {
    min-width: 100%;
    max-width: 100%;
    transition: all 0.75s ease;
  }
}

.chart__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  box-sizing: border-box;
  background: $dark-bg-2;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  position: relative;
  width: 100%;
}
.chart__grid-cell--quarter {
  @include respond-to(desktop-up) {
    min-width: 25%;
    max-width: 25%;
  }
}
.chart__grid-cell--quarter:last-child {
  @include respond-to(desktop-up) {
    min-width: 25%;
    max-width: 25%;
  }
}
.chart__container--half {
  @include respond-to(desktop-up) {
    min-width: 50%;
    max-width: 50%;
  }
}

.chart__title {
  position: relative;
  display: block;
  padding-top: 20px;
  width: 100%;
  // top: -60px;
}
.chart__inner {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.chart__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  text-align: center;
  left: 0;
  padding-top: 20px;
  right: 0;
}

.chart__bar-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
// --------------------------------------
// Legend
// --------------------------------------
.chart__legend {
  border-top: 1px solid $dark-bg-3;
  padding-top: 10px;
  margin-top: 10px;
}

.chart__legend-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  top: 5px;
  background-color: $dark-bg-1;
}

.chart__legend-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  &--true-volume:before {
    background-color: $accent-green;
  }

  &--loan-volume:before {
    background-color: $accent-yellow;
  }
  &--fake-volume:before {
    background-color: $accent-orange;
  }
  &--total-volume:before {
    background-color: $accent-red;
  }

  &--primary:before {
    background-color: $accent-yellow;
  }

  &--secondary:before {
    background-color: $accent-orange;
  }

  &--tertiary:before {
    background-color: $accent-red;
  }
  &--trend:before {
    background-color: $trend;
  }
}

// Info
.chart__info {
  align-items: flex_start;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chart__progress-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 74px;
  min-width: 74px;
  max-width: 74px;
  border-radius: 100%;
  border: 6px solid $accent-red;
}
