$dark-bg-1: rgb(26, 27, 30);
$dark-bg-2: rgb(37, 38, 43);
$dark-bg-3: rgb(92, 95, 102);

$dark-high-emphasis: rgb(193, 194, 197);
$dark-medium-emphasis: rgb(144, 146, 150);
$dark-low-emphasis: rgb(92, 95, 102);
$dark-divider: rgb(55, 58, 64);

$accent-red: rgba(250, 82, 82, 1);
$accent-grey: $dark-bg-3;
$accent-blue: rgba(34, 139, 230, 1);
$accent-purple: rgba(95, 61, 196, 1);

$light-grey-1: rgb(193, 194, 197);

$highlight: rgb(213, 244, 21);
$trend: white;
$white: white;
$black: rgb(20, 21, 23);

// Yellow
$accent-yellow: rgba(250, 176, 5, 1);
$accent-yellow-shadow: rgba(250, 176, 5, 1);
$accent-yellow-trend: rgba(250, 176, 5, 0.3);

// Orange
$accent-orange: rgba(253, 126, 20, 1);
$accent-orange-trend: rgba(253, 126, 20, 0.3);

// Green
$darker-green: rgba(64, 192, 87, 0.2);
$dark-green: rgba(64, 192, 87, 0.5);
$accent-green: rgba(64, 192, 87, 1);
