$dark-bg-1: rgb(26, 27, 30);
$dark-bg-2: rgb(37, 38, 43);
$dark-bg-3: rgb(92, 95, 102);

$accent-yellow: rgba(250, 176, 5, 1);
$accent-yellow-shadow: rgba(250, 176, 5, 1);
$accent-yellow-trend: rgba(250, 176, 5, 0.3);
$accent-orange: rgba(253, 126, 20, 1);
$accent-orange-trend: rgba(253, 126, 20, 0.3);
$accent-red: rgba(250, 82, 82, 1);
$accent-grey: $dark-bg-3;
$accent-blue: rgba(34, 139, 230, 1);
$accent-purple: rgba(95, 61, 196, 1);
$accent-green: rgba(64, 192, 87, 1);

$black: rgb(20, 21, 23);

$light-grey-1: rgb(193, 194, 197);

$highlight: rgb(213, 244, 21);

$trend: white;
$white: white;
