$accent-yellow: rgba(250, 176, 5, 1);
$accent-yellow-shadow: rgba(250, 176, 5, 1);

$accent-orange: rgba(253, 126, 20, 1);
$accent-red: rgba(250, 82, 82, 1);

$dark-bg-1: #141517;
$dark-bg-2: #25262b;
$dark-bg-3: rgba(92, 95, 102, 1);

$light-grey-1: rgb(193, 194, 197);

$accent-green: #40c057;
