.data-table {
  color: $white;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  @include respond-to(tablet-up) {
    overflow-x: hidden;
  }
}
.data-table__td {
  border-bottom: 1px solid $dark-bg-2;
}

.data-table__cell-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.data-table__cell {
  cursor: pointer;
  &--volume,
  &--true,
  &--floor,
  &--sales {
    text-align: right;
  }
}

.data-table__icon {
  position: relative;
  &--crypto {
    width: 13px;
    opacity: 0.5;
    margin-right: 5px;
  }

  &--chevron {
    width: 20px;
    opacity: 1;
  }
}

.data-table__row {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.125s ease-in-out;
  }

  // &.sorting-started {
  //   opacity: 0;
  //   transition: all 0.125s ease-in-out;
  // }

  // &.sorting-finished {
  //   opacity: 1;
  //   transition: all 0.05 ease-in-out;
  // }
}
