.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: $dark-bg-1;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__links-list-item {
  list-style: none;
  padding: 0;
}

.footer__links-list-item-link {
  text-decoration: none;
  padding: 0;
}
