.grid {
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100%;
  flex-wrap: wrap;
  gap: $gap;
  grid-template-columns: 100%;
  @include respond-to(desktop-up) {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.grid__one-col {
  grid-template-columns: 100%;
}

.grid__two-col {
  gap: $gap;
  grid-template-columns: 100%;

  @include respond-to(widescreen-up) {
    grid-template-columns: calc(50% - ($gap / 2)) calc(50% - ($gap / 2));
  }
}
.grid__four-col {
  grid-template-columns: 100%;
  @include respond-to(desktop-up) {
    grid-template-columns: calc(50% - ($gap / 2)) calc(50% - ($gap / 2));
  }
  @include respond-to(widescreen-up) {
    grid-template-columns:
      calc(25% - ($gap - $gap / 4)) calc(25% - ($gap - $gap / 4))
      calc(25% - ($gap - $gap / 4)) calc(25% - ($gap - $gap / 4));
  }
}

.grid__col {
}

.grid__col-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  width: 100%;
}

.grid__col-content {
  background: $dark-bg-2;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 16px;

  &--chart {
    min-height: 344px;
  }
}

.grid__col-container-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
