.header {
  background-color: $dark-bg-1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $white;
}

.header__row {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid $dark-bg-2;
  // justify-content: space-evenly;
}
