.hero-banner {
  display: flex;
  max-width: 1200px;
  margin: auto;
  color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.hero-banner__content-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  @include respond-to(desktop-up) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-columns: auto 444px;
  }
}

.hero-banner__did-you-know {
  border-radius: 8px;
  border: 2px solid $dark-bg-2;
  padding: 12px 20px;
}

.hero-banner__underline {
  width: 237px;
  height: 60px;
  position: absolute;
  top: 95px;
  left: 0px;
  overflow: hidden;
  @include respond-to(desktop-up) {
    width: 237px;
    height: 60px;
    position: absolute;
    left: auto;
    top: 62px;
    right: 0;
    overflow: hidden;
  }
}
