.hero-banner {
  display: flex;
  max-width: 1200px;
  margin: auto;
  color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.hero-banner__content-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  @include respond-to(desktop-up) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-columns: auto 444px;
  }
}

.hero-banner__did-you-know {
  border-radius: 8px;
  border: 2px solid $dark-bg-2;
  padding: 12px 20px;
}

.hero-banner__underline {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
  @include respond-to(desktop-up) {
    width: 237px;
    top: 95px;
  }
  @include respond-to(widescreen-up) {
    left: auto;
    top: 62px;
    right: 0;
    width: 237px;
  }
}

.hero-banner__underline-cloak {
  background-color: rgb(20, 21, 23);
  top: 10px;
  width: 100%;
  position: absolute;
  height: 30px;
  @include respond-to(desktop-up) {
    top: 20px;
  }
  @include respond-to(widescreen-up) {
    top: 21px;
  }
}

.hero-banner__h3 {
  width: 350px;
  @include respond-to(widescreen-up) {
    width: 100%;
  }
}
