.property-table {
  color: $black;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  position: relative;
  @include respond-to(tablet-up) {
    overflow-x: hidden;
  }
}
.property-table__td {
  border-bottom: 1px solid $dark-bg-2;
}

.property-table__cell-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.property-table__cell {
  cursor: pointer;
  &--volume,
  &--true,
  &--floor,
  &--sales {
    text-align: right;
  }
}

.property-table__icon {
  position: relative;
  &--crypto {
    width: 13px;
    opacity: 0.5;
    margin-right: 5px;
  }

  &--chevron {
    width: 20px;
    opacity: 1;
  }
}

.property-table__row {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.125s ease-in-out;
  }
}

thead td {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.125s ease-in-out;
  }
}

.property-table__body-count {
  position: absolute;
  top: 0;
  margin-top: 30px;
  li {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.property-table__table-wrapper {
  position: relative;
}
