.status-bar {
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  border-top: 1px solid $dark-divider;
  flex-direction: column;
  border-bottom: 1px solid $dark-divider;
  padding: 12px 0;

  @include respond-to(tablet-up) {
    flex-direction: row;
  }
}

.status-bar__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.status-bar__daily-report {
  background: $white;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 2px;
}
