.tab {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  position: relative;
  transition: all 0.25s ease;
  height: 100%;
  line-height: 35px;
  &.active,
  &:focus,
  &:active {
    color: $highlight;
  }
}
