.tab {
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 0;
  position: relative;
  transition: all 0.25s ease;
  &:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    transition: all 0.25s ease;
  }
  &.active,
  &:focus,
  &:active {
    color: $white;
    transition: all 0.25s ease;
    &:after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      transition: all 0.25s ease;
      background: $highlight;
    }
  }
}
