.tooltip-body__header {
  display: block;
  // display: grid;
  // align-items: center;
  // justify-content: space-between;
  // flex-direction: column;
  // grid-template-columns: 50% 50%;
}

.tooltip-body__content {
  padding-top: 10px;
}
.tooltip_body__table--value-col {
  display: flex;
}
.tooltip-body__table-footer {
  border-top: 1px solid $dark-bg-3;
  margin-top: 6px;
  padding-bottom: 6px;
}

.tooltip-body__content {
  width: 100%;
  display: flex;
}
.tooltip-body__content-data {
  display: grid;
  flex-direction: row;
  min-width: 100%;
  grid-template-columns: 80px 1fr;
}
.tooltip-body__content-data-progress,
.tooltip-body__content-data-progress-ring {
  min-width: 64px;
  max-width: 64px;
}

.tooltip-body__icon {
  position: relative;
  &--crypto {
    width: 13px;
    margin-right: 5px;
  }

  &--chevron {
    width: 20px;
    opacity: 1;
  }
}

.tooltip-body__legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
