p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.typography__display--1 {
  color: $white;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.6;
  font-size: 17px;
  @include respond-to(desktop-up) {
    font-size: 20px;
  }
}
.typography__display--2 {
  color: $light-grey-1;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 32px;
}
.typography__display--3 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.typography__display--4 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.typography__display--5 {
  color: $light-grey-1;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.typography__display--6 {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.typography__display--7 {
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.1;
  @include respond-to(desktop-up) {
    font-size: 48px;
  }
}

.typography__display--8 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.typography__display--9 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.typography__label--1 {
  color: #fff;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  list-height: 1;
}

.typography__label--2 {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--3 {
  color: $light-grey-1;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 400;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--4 {
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  color: $dark-bg-3;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.25px;
}
.typography__label--5 {
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: $light-grey-1;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography__paragraph--1 {
  color: $dark-medium-emphasis;
  font-size: 11px;
  font-family: Roboto;
  line-height: 16px;
  margin-top: 0;
}

.typography__paragraph--2 {
  color: $dark-high-emphasis;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-top: 0;
}

.typography__paragraph--3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  @include respond-to(desktop-up) {
    font-size: 18px;
  }
}

.typography__subtitle--2 {
  color: $dark-medium-emphasis;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography__subtitle--module {
  color: $dark-medium-emphasis;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.typography__color--black {
  color: $black;
}
.typography__color--green {
  color: $accent-green;
}

.typography__color--white {
  color: white;
}

.typography__color--red {
  color: $accent-red;
}

.typography__color--highlight {
  color: $highlight;
}

.typography__color--dark-bg-2 {
  color: $dark-bg-2;
}
.typography__color--dark-bg-3 {
  color: $dark-bg-3;
}

.typography__color--dark-medium-emphasis {
  color: $dark-medium-emphasis;
}

.typography__color--dark-high-emphasis {
  color: $dark-high-emphasis;
}

.typography__weight--300 {
  font-family: Roboto;
  font-weight: 300;
}

.typography__weight--700 {
  font-family: Roboto;
  font-weight: 700;
}
