p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.3;
}
.typography__display--1 {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
}
.typography__display--2 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
}
.typography__display--3 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.typography__display--4 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.typography__label--1 {
  color: #fff;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 500;
  list-height: 1;
  margin-bottom: 5px;
}

.typography__label--2 {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--3 {
  color: $light-grey-1;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 400;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--4 {
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  color: $dark-bg-3;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.typography__paragraph--1 {
  color: #a5a5a5;
  font-size: 10px;
  font-family: Roboto;
  line-height: 1.5;
  margin-top: 0;
}

.typography__color--green {
  color: $accent-green;
}

.typography__color--white {
  color: white;
}

.typography__color--red {
  color: $accent-red;
}

.typography__color--highlight {
  color: $highlight;
}

.typography__color--dark-bg-3 {
  color: $dark-bg-3;
}
