.typography__display--1 {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
}
.typography__display--2 {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
}

.typography__label--1 {
  color: #fff;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 500;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--2 {
  color: #fff;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  list-height: 1;
  margin-bottom: 0;
}

.typography__label--3 {
  color: $light-grey-1;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 400;
  list-height: 1;
  margin-bottom: 0;
}

.typography__paragraph--1 {
  color: #a5a5a5;
  font-size: 10px;
  font-family: Roboto;
  /* font-weight: 300; */
  line-height: 1.5;
  margin-top: 0;
}
