.u-bgGrey {
  background-color: #25262b;
}
.u-radius8 {
  border-radius: 8px;
}

.u-padding12 {
  padding: 20px;
}

.u-heightFull {
  height: 100%;
}

.u-posRelative {
  position: relative;
}

.u-flex1 {
  flex: 1;
}

.u-justifyStart {
  justify-content: flex-start;
}

.u-justifyCenter {
  justify-content: center;
}

.u-justifyEnd {
  justify-content: flex-end;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-hideMarker {
  &::marker {
    content: none;
  }
}

.u-container-shadow {
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
