.u-bgGrey {
  background-color: #25262b;
}
.u-radius8 {
  border-radius: 8px;
}

.u-padding12 {
  padding: 20px;
}

.u-heightFull {
  height: 100%;
}

.u-posRelative {
  position: relative;
}

.u-flex1 {
  flex: 1;
}

.u-justifyStart {
  justify-content: flex-start;
}
