.volume-table-chart {
}
.volume-table-chart__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.volume-table-chart__title {
  border: 1px solid grey;
  padding: 4px 8px;
  border-radius: 4px;
  width: auto;
  font-weight: 700;
  text-transform: uppercase;

  &.accent-green {
    border-color: $accent-green;
  }

  &.accent-red {
    border-color: $accent-red;
  }

  &.accent-yellow {
    border-color: $accent-yellow;
  }
  &.light-grey-1 {
    border-color: $light-grey-1;
  }
}
